@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap);

:root{
    --primary: rgba(201, 188, 255, 0.25);
    --light: #eeeeee;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

html{
    min-height:100%;
    box-shadow: 0 0 10px 2000px rgba(201, 188, 255, 0.25);
    background-size:cover;
}

body{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height:100%;
    background-image: url(https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.15752-9/283440721_499352225313703_1843083441579281092_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=ecZHtPO5zLgAX-aPZDh&_nc_ht=scontent.fsgn5-2.fna&oh=03_AVLJG16_eNHG6TnMUPW-mPzOksXZUjs8f_1KG-iLwJPi4w&oe=62C18BED);
    background-repeat: no-repeat;
    background-size:cover;
}

nav{
    border-bottom: 3px solid var(--primary);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 32px 32px;
    
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
}

.ctn{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.title{
    width: auto;
    font-weight: 900;
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 0px;
}

.title-box{
    margin-left: 10px;
    margin-right: auto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    transition: ease-out 0.3s;
}

.btstyle{
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    min-width: fit-content;
    word-wrap: nowrap;
    overflow: hidden;
    padding: 0 25px;
    line-height: 2.5;
    height: 54px;
    margin-left: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    transition: ease-out 0.3s;
    position: relative;
    background: url(heroicons-outline_login.png) -100% 50% no-repeat;
    
    /* background: #FFFEFE; */
    border: 2px solid #0011AB;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #0011AB;
    transition: ease-out 0.3s;
}

.btstyle:hover, .btstyle:focus{
    word-wrap: nowrap;
    overflow: hidden;
    background: url(heroicons-outline_login_active.png) -100% 50% no-repeat;

    color: #FFFEFE;
    background-color: #0011AB;
    border: 2px solid #0011AB;
    border-radius: 33px;
}

.aquote{
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    min-width: 50%;
    height: auto;

    font-family: 'IM FELL Great Primer';
    font-weight: 400;
    font-size: 40px;
    /* or 200% */
    align-self: auto;
    text-align: center;
    transition: ease-out 0.3s;
}

.mainbox{
    width: auto;
    margin: 0 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
form{
    width: 100%;
}
.searchbox{
    position: relative;
    width: 300px;
    display: flex;
    background-color: #00000000;
    justify-content: center;
    border-radius: 25px;
}

input{
    height: 54px;
    box-shadow: inset 0 0 0 0 #0011AB;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0011AB;
    border-radius: 25px;
}

.searchreset{
    top: 0;
    left: 0;
    position: absolute;
    order: 1;
    width: 108px;
    background: url(heroicons-outline_x.png) -200% 50% no-repeat;
    
    /* background: #FFFEFE; */
    border-right: 0;
    border-radius: 25px 0px 0px 25px;
    transition: all 0.3s ease-out;
}

.searchsubmit{
    top: 0;
    right: 0;
    position: absolute;
    order: 3;
    width: 108px;
    background: url(heroicons-outline_search.png) 300% 50% no-repeat;
    
    /* background: #FFFEFE; */
    border-left: 0;
    border-radius: 0px 25px 25px 0px;
    transition: all 0.3s ease-out;
}

.searchinput{
    position: relative;
    order: 2;
    display: block;
    outline: none;
    background-color: #00000000;
    width: 100%;
    appearance: none;
    text-align: center;
    border-left: 0;
    border-right: 0;
    z-index: 1;
    transition: all 0.3s ease-in;
}

.searchinput::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.3;
    text-align: center;
}

.searchinput:placeholder-shown ~ .searchreset:focus,.searchinput:placeholder-shown ~ .searchreset:hover{
    background-position: -200% 50%;
    transition: all 0.3s ease-out;
}

.searchinput:placeholder-shown ~ .searchsubmit:focus,.searchinput:placeholder-shown ~ .searchsubmit:hover{
    background-position: 300% 50%;
    transition: all 0.3s ease-out;
}

.searchinput:focus {
    outline-color: #0011AB;
}

.searchinput:not(:placeholder-shown){
    border-radius: 0;
    border-left: #00000000;
    border-right: #00000000;
    width: calc(100% - 96px);
}

.searchinput:not(:placeholder-shown) ~ input{
    width: calc(100% - 242px);
    display: block;
    background-position: 50% 50%;
    transition: all 0.3s ease-out;
}
.searchinput:not(:placeholder-shown) ~ .searchreset:hover,.searchinput:not(:placeholder-shown) ~ .searchreset:focus {
    background: url(heroicons-outline_x_active.png) 50% 50% no-repeat;
    border-radius: 25px 0px 0px 25px;
}

.searchinput:not(:placeholder-shown) ~ .searchsubmit:hover,.searchinput:not(:placeholder-shown) ~ .searchsubmit:focus {
    background: url(heroicons-outline_search_active.png) 50% 50% no-repeat;
    border-radius: 0px 25px 25px 0px;
}

.contentbox{
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch;
}

.slider{
    display: block;
    top: 0;
    left: 0;
    position: relative;
    margin-top: 15px;
    box-shadow: inset 0 0 0 0 #0011AB;
    background-color: rgba(255, 255, 255, 0.25);
    border-top: 2px solid #0011AB;
    border-bottom: 2px solid #0011AB;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all ease-out 0.3s;
}

.slides{
    width: 500%;
    height: 600px;
    display: flex;
    transition: all ease-out 0.3s;
}

.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s ease-in-out;
}
.slide img{
    cursor: pointer;
    width: 100%;
    height: 540px;
    mask-border: var(--primary);
    transition: all ease-out 0.3s;
}
.navigation-manual{
    box-shadow: 0 3px 8px 30px rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    transition: all ease-out 0.3s;
}
.manual-btn{
    border: 2px solid #0011AB;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #0011AB;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 560px;
    transition: all ease-out 0.3s;
}

.navigation-auto div{
    border: 2px solid #0011AB;
    padding: 5px;
    border-radius: 25px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #0011AB;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #0011AB;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #0011AB;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #0011AB;
}

.internshipsbox{
    top: 0;
    left: 0;
    position: relative;
    display: block;
    box-shadow: inset 0 0 0 0 #0011AB;
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid #0011AB;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all ease-out 0.3s;
}

footer{
    clear: both;
    position: relative;
    margin-top: 100px;
    border-top: 3px solid var(--primary);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 32px 32px;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
}

.credits{
    text-align: center;
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all ease-in-out 0.3s;
}

.credits a{
    color: var(--dark);
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    min-width: auto;
    padding: 12px 25px;
    height: 54px;
    position: absolute;
    right: 20px;
    transition: ease-out 0.3s;
    z-index: 1;
}

.credits a:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    content: "";
    border-radius: 33px;
    background-image: url(https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.15752-9/283440721_499352225313703_1843083441579281092_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=ecZHtPO5zLgAX-aPZDh&_nc_ht=scontent.fsgn5-2.fna&oh=03_AVLJG16_eNHG6TnMUPW-mPzOksXZUjs8f_1KG-iLwJPi4w&oe=62C18BED);
    background-repeat: no-repeat;
    background-size: cover;
}

.credits a:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media (max-width: 1400px){
    .slider{
        height: 500px;
        transition: all ease-out 0.3s;
    }
    .slides{
        height: 500px;
        transition: all ease-out 0.3s;
    }
    .slide img{
        height: 440px;
        transition: all ease-out 0.3s;
    }
    .navigation-auto{
        margin-top: 460px;
        transition: all ease-out 0.3s;
    }
    .navigation-manual{
        margin-top: -40px;
        transition: all ease-out 0.3s;
    }
    .news{
        height: 500px;
        transition: all ease-out 0.3s;
    }
}

@media (max-width: 1100px){
    .slider{
        height: 400px;
        transition: all ease-out 0.3s;
    }
    .slides{
        height: 400px;
        transition: all ease-out 0.3s;
    }
    .slide img{
        height: 340px;
        transition: all ease-out 0.3s;
    }
    .navigation-auto{
        margin-top: 360px;
        transition: all ease-out 0.3s;
    }
    .navigation-manual{
        margin-top: -40px;
        transition: all ease-out 0.3s;
    }
    .news{
        height: 400px;
        transition: all ease-out 0.3s;
    }
}

@media (max-width: 800px) {
    .contentbox{
        justify-content: center;
        display: block;
    }
    .slider{
        width: auto;
        height: 300px;
        transition: all ease-out 0.3s;
    }
    .slides{
        height: 300px;
        transition: all ease-out 0.3s;
    }
    .slide img{
        height: 240px;
        transition: all ease-out 0.3s;
    }
    .navigation-auto{
        margin-top: 260px;
        transition: all ease-out 0.3s;
    }
    .navigation-manual{
        margin-top: -40px;
        transition: all ease-out 0.3s;
    }
    .news{
        width: auto;
        height: 300px;
        transition: all ease-out 0.3s;
    }
    .credits{
        text-align: left;
        justify-content: flex-start;
        transition: all ease-in-out 0.3s;
    }
}

@media (max-width: 710px){
    .title-box{
        margin-left: 20px;
        font-weight: 100;
        font-size: 15px;
        transition: linear 0.3s;
    }
    .aquote{
        font-weight: 100;
        font-size: 20px;
        transition: linear 0.3s;
    }
    .credits{
        font-weight: 100;
        font-size: 15px;
        transition: ease-in 0.3s;
    }
    .credits a{
        padding: 16px 20px;
        height: 54px;
    }
}

@media (max-width:610px) {
    .btstyle{
        text-indent: 100%;
        word-wrap: nowrap;
        overflow: hidden;
        min-width: fit-content;
        padding: 0px;

        background-size: auto;

        background: url(heroicons-outline_login.png) 40% 50% no-repeat;
        /* background: #FFFEFE; */
        transition: ease-out 0.3s;
    }
    .btstyle:hover{
        text-indent: 100%;
        word-wrap: nowrap;
        overflow: hidden;
        background-size: auto;
        background-image: url(heroicons-outline_login_active.png);
        background-position: 60% 50%;
    }
    .btstyle:focus{
        text-indent: 100%;
        word-wrap: nowrap;
        overflow: hidden;
        background-size: auto;
        background-image: url(heroicons-outline_login_active.png);
        background-position: 60% 50%;
    }
    .credits{
        font-weight: 100;
        font-size: 11px;
        transition: ease-in 0.3s;
    }
    .credits a{
        padding: 16px 20px;
        height: 54px;
    }
}